<form class="login-form">

  <div class="mx-auto mb-3 text-center teste">
    <img src="/assets/img/fiorilli-png.png" class="rounded mx-auto d-block" style="width: 250px;">
  </div>

  <dx-form [formData]="formData" [disabled]="loading" [labelMode]="labelMode">

    <dxi-item dataField="Login" editorType="dxTextBox" class="mt-4 ms-0"
              [editorOptions]="{ stylingMode: 'filled', mode: 'string'}">
      <dx-text-box [(value)]="user.user" label="Login" name="login"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe seu nome"></dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="Senha" editorType="dxTextBox" class="mt-2 ms-0"
              [editorOptions]="{ stylingMode: 'filled', mode: 'password' }">
      <dx-text-box [(value)]="user.password" label="Senha" [mode]="'password'" name="senha"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe a senha correta!"></dxi-validation-rule>
    </dxi-item>

    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'signInTemplate'">
      </dxo-button-options>
    </dxi-item>


    <dxi-item itemType="button">
      <dxo-button-options text="Criar uma nova conta" width="100%" class="dx-button"
                          [onClick]="onCreateAccountClick"></dxo-button-options>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'signInTemplate'">
      <div (click)="logIn()">
        <div >
        <span class="dx-button-text">
          <ng-container *ngIf="loading; else notLoading">
            <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
          </ng-container>
          <ng-template #notLoading>Entrar</ng-template>
        </span>
      </div>
      </div>
    </ng-container>

  </dx-form>
</form>
