<h2 class="content-block text-center" xmlns="http://www.w3.org/1999/html">Administrar Evento</h2>
<div>
  <div class="content-block">
    <div class="container m-0 row">
      <div class="col justify-content-md-center">
        <div class="content-block dx-card responsive-paddings shadow col">


          <dx-data-grid
            id="grid"
            [dataSource]="dataSource"
            [repaintChangesOnly]="true"
            [showBorders]="true"
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-editing
              mode="cell"
              [refreshMode]="refreshMode"
              [allowAdding]="false"
              [allowUpdating]="true"
              [allowDeleting]="true"
            >
            </dxo-editing>

            <dxi-column dataField="nomeEvento" caption="Nome do Evento"></dxi-column>
            <dxi-column dataField="dataEvento" dataType="date"></dxi-column>
            <dxi-column dataField="enderecoEvento"></dxi-column>
            <dxi-column dataField="descricaoEvento"></dxi-column>
            <dxi-column dataField="tipoEvento" caption="Tipo do Evento" dataType="number">
              <!--<dxo-lookup
                [dataSource]="tipoEventoData"
                valueExpr="Value"
                displayExpr="Text"
              ></dxo-lookup> -->
            </dxi-column>
          </dx-data-grid>


        </div>
      </div>
    </div>
  </div>
</div>

