

<div class="content-block dx-card responsive-paddings shadow">
  <div class="long-title mb-5">
    <h3>Novo Evento</h3>
  </div>
  <div id="form-container">

    <dx-form id="form" [colCount]="2" [labelMode]="labelMode">

      <dxi-item dataField="nomeEvento">
        <dx-text-box [(value)]="evento.nomeEvento" label="Nome para o Evento"></dx-text-box>
        <dxi-validation-rule type="required" message="Informe um nome para o Evento."></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="tipoEvento">
        <dx-select-box
          label="Tipos de Eventos"
          [dataSource]="tiposEventos"
          displayExpr="name"
          valueExpr="id"
          placeholder="Selecione um tipo de evento:"
          [(value)]="evento.tipoEvento">
        </dx-select-box>
        <dxi-validation-rule type="required" message="Informe o tipo do evento."></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="dataEvento" editorType="dxDateBox" [editorOptions]="{format: 'dd/MM/yyyy', mask:'99/99/9999',
       useMaskedValue: true}" >
        <dx-date-box [(value)]="evento.dataEvento"></dx-date-box>
        <dxi-validation-rule type="required" message="Informe uma data para o evento."></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="enderecoEvento">
        <dx-text-box [(value)]="evento.enderecoEvento" placeholder="Defina o endereço do Evento"
                     label="Endereco"></dx-text-box>
        <dxi-validation-rule type="required" message="Informe endereço do evento."></dxi-validation-rule>
      </dxi-item>

      </dx-form>




    <div class="buttons-demo">
      <div class="container">
        <div class="buttons-column row justify-content-end">
          <div class="m-2 dx-button-default dx-button-text col-2">
            <dx-button
              stylingMode="contained"
              text="Salvar"
              type="normal"
              [width]="120"
              (click)="cadastroEvento(evento)">
            </dx-button>
          </div>

          <div class="m-2 col-2">
            <dx-button
              stylingMode="contained"
              text="Fechar"
              type="normal"
              [width]="120"
              (click)="sair()">
            </dx-button>
          </div>

          <div class="m-2 col-2">
            <dx-button
              stylingMode="contained"
              text="Limpar"
              type="normal"
              [width]="120"
              (click)="limpar()">
            </dx-button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
