<div class="content-block dx-card responsive-paddings shadow">
  <div class="long-title mb-5">
    <h3>Novo Evento</h3>
  </div>
  <div id="form-container">

    <dx-form id="form" [formData]="formData" [colCount]="2" [labelMode]="labelMode" >

      <dxi-item dataField="nomeEvento">
        <dx-text-box [(value)]="evento.nomeEvento" label="Nome para o Evento"></dx-text-box>
        <dxi-validation-rule type="required" message="Informe um nome para o Evento."></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="tipoEvento">
        <dx-select-box
          label="Tipos de Eventos"
          [dataSource]="tiposEventos"
          displayExpr="name"
          valueExpr="id"
          placeholder="Selecione um tipo de evento:"
          [(value)]="evento.tipoEvento">
        </dx-select-box>
        <dxi-validation-rule type="required" message="Informe o tipo do evento."></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="dateEvento">
        <dx-date-box [(value)]="evento.dataEvento"
                     [useMaskBehavior]="true"
                     [displayFormat]="'dd/MM/yyyy'"
                     label="Data do Evento"
                     type="date"

        ></dx-date-box>
        <dxi-validation-rule type="required" message="Informe uma data para o evento."></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="enderecoEvento">
        <dx-text-box [(value)]="evento.enderecoEvento" placeholder="Defina o endereço do Evento"
                     label="Endereco"></dx-text-box>
        <dxi-validation-rule type="required" message="Informe endereço do evento."></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="enderecoEvento">
        <dx-text-box [(value)]="evento.descricaoEvento" placeholder="Defina uma descrição para o Evento"
                     label="Descrição"></dx-text-box>
        <dxi-validation-rule type="required" message="Informe a descrição do evento."></dxi-validation-rule>
      </dxi-item>

    </dx-form>



    <div class="buttons-demo mt-3">
      <div class="container">
        <div class="buttons-column lineButton">


          <dx-button
            stylingMode="contained"
            text="Salvar"
            type="default"
            [width]="200"
            (click)="cadastroEvento(evento)">
          </dx-button>


          <dx-button class="limpar"
                     text="Limpar"
                     type="text"
                     [width]="200"
                     (click)="limpar()">
          </dx-button>


          <dx-button class="fechar"
                     text="Fechar"
                     type="text"
                     [width]="200"
                     (click)="sair()">
          </dx-button>
        </div>
      </div>
    </div>
  </div>
</div>
