 #form-container {
  margin: 10px 10px 30px;
}

::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.lineButton{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3%;
}

dx-button{
  margin: 1%;
}

.fechar{
  background-color: white;
  color: black;
  box-shadow: black;
}

.limpar{
  background-color: #EAEAEA;
  color: #626262;
  box-shadow: black;
}
