.box-item{
  margin: 15px;
  border-radius: 3px;
}

.dx-toolbar .dx-toolbar-items-container {
  height: 56px;
  overflow: visible;
  background: transparent;
  color: white;


}
.teste{
  margin: 0 15px 10px 0;
}

.selec:hover{
  width: 120%;
}

$tipoChurrasco: url('/assets/img/tipo1.jpg');
$tipoDoisChurrasco: url('/assets/img/tipo2.jpg');

.cardEventos{
  width: 100ch;
  height: 100ch;
  max-width: 100%;
  max-height: 100%;
}

.tipoUm{
  background-image: $tipoDoisChurrasco;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  }


