.box-item{
  margin: 15px;
  border-radius: 3px;
}

.dx-toolbar .dx-toolbar-items-container {
  height: 56px;
  overflow: visible;
  background: transparent;
  color: white;


}

.selec:hover{
  width: 120%;
}

$tipoUm: url('/assets/img/tipo1.jpg');
$tipoDois: url('/assets/img/tipo2.jpg');
$tipoTres: url('/assets/img/tipo3.jpg');

.cardEventos{
  width: 100ch;
  height: 100ch;
  max-width: 100%;
  max-height: 100%;
}

.tipoUm{
  background-image: $tipoUm;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-size: 150%;
  font-weight: 800;
  color: white;
 }



.tipoDois{
  background-image: $tipoDois;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  font-size: 150%;
  font-family: Impact, fantasy;
  color: white;
}

.tipoTres{
  background-image: $tipoTres;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  font-size: 150%;
  font-family: "Comic Sans MS", cursive;
  font-weight: 500;
  color: white;
  }


$colorButton: transparentize(black, 0.5);
.buttonCard{
  border: none;
  background-color: $colorButton;
}

.buttonCard:hover{
 background: #9e9e9e;
}

.textoCard{
  font-size: 130%;
  font-weight: bolder;

}
