<div *ngIf="mostrarEvento.length else errado">

<h2 class="m-5 justify-content-center">Eventos Abertos</h2>

<div class="container flex-column cardEventos">
  <div *ngFor="let evento of mostrarEvento">
    <div class="justify-content-md-center">
      <div class="content-block responsive-paddings shadow-lg rounded-3 mb-3"
           [ngClass]="{'tipoUm':evento.tipoEvento == 1, 'tipoDois': evento.tipoEvento == 2, 'tipoTres': evento.tipoEvento == 3}">
        <div class="textCard">
          <span>{{evento.nomeEvento}}</span> <br/>
          <span>{{evento.dataEvento}}</span> <br/>
          <span>{{evento.descricaoEvento}}</span> <br/>
          <div class="d-flex mt-3 justify-content-between">
            <dx-button class="buttonCard" text="Participar" (click)="popup(evento)"></dx-button>
            <dx-button class="buttonCard" [icon]="'preferences'" (click)="administrar()"></dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<dx-popup
  [width]="400"
  [height]="500"
  [showTitle]="true"
  title="{{cardEvento.nomeEvento}}"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>

  <dxo-position at="center" my="center" collision="fit">
  </dxo-position>

  <div *dxTemplate="let data of 'content'">
    <div class="d-flex justify-content-center">

      <p>
        <span class="textoCard">{{ cardEvento.dataEvento }}</span>
      </p>
    </div>
    <p>
      <span class="textoCard">{{cardEvento.descricaoEvento}}.<br/>Bora ? </span>
    </p>
    <p class="mt-5">
      Localização: <span class="textoCard">{{cardEvento.enderecoEvento}}</span>
    </p>


    <div *ngFor="let usuario of mostrarUsuario">
      <dxi-item dataField="participantesEvento" class="mt-5">

        <dx-select-box
          label="Participantes"
          [dataSource]="cardEvento.participantes"
          displayExpr="{{participante}}"
        >
        </dx-select-box>

      </dxi-item>


    <div class="buttons-demo mt-5 ">
      <div class="container">
        <div class="buttons-column lineButton">
          <dx-button
            stylingMode="contained"
            text="Partipar"
            type="default"
            [width]="100"
            (click)="partiparEvento(cardEvento.id,usuario.id, usuario.nome, usuario.setor)"
          >
          </dx-button>

          <dx-button class="fechar"
                     text="Fechar"
                     type="text"
                     [width]="100"
                     (click)="fecharPopup()"
          >
          </dx-button>
        </div>
      </div>
    </div>

    </div>
  </div>
</dx-popup>



</div>
<ng-template #errado>
  <h2 class="m-5 justify-content-center">
    Nenhum evento cadastrado no momento.
  </h2>
</ng-template>

