<h2 class="m-5 justify-content-center">Eventos Abertos</h2>

<div class="container flex-column cardEventos">
  <div *ngFor="let evento of mostrarEvento">
    <div class="justify-content-md-center">
      <div class="content-block responsive-paddings shadow rounded-3"
           [ngClass]="{'tipoUm':evento.tipoEvento == 1, 'tipoDois': evento.tipoEvento == 2}">
        <div class="textCard">
          <span>{{evento.nomeEvento}}</span> <br/>
          <span>{{evento.dataEvento}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarEvento.length != 0 else errado">
</div>
<ng-template #errado>
  <h3>
    Nenhum evento Cadastrado
  </h3>
</ng-template>

