.box-item{
  margin: 15px;
  border-radius: 3px;
}

.dx-toolbar .dx-toolbar-items-container {
  height: 56px;
  overflow: visible;
  background: transparent;
  color: white;


}
.teste{
  margin: 0 15px 10px 0;
}

.selec:hover{
  width: 120%;
}
