/* You can add global styles to this file, and also import other style files */
.test{
  border: black 2px solid
}

.fechar{
  background-color: white !important;
  color: black !important;
  box-shadow: black !important;
}

.limpar{
  background-color: #EAEAEA !important;
  color: #626262 !important;
  box-shadow: black !important;
}

.lineButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

dx-button{
  margin: 1%;
}

.dx-button.dx-state-hover {
  background-color: #006b61;
}
.dx-button.dx-state-focused {
  background-color: #006b61;
}
.dx-button.dx-state-active {
  background-color: #006b61;
}

