/* You can add global styles to this file, and also import other style files */
.test{
  border: black 2px solid
}

.fechar{
  background-color: white;
  color: black;
  box-shadow: black;
}

.limpar{
  background-color: #EAEAEA;
  color: #626262;
  box-shadow: black;
}

.lineButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

dx-button{
  margin: 1%;
}


