<form class="create-account-form">

  <dx-form [formData]="formData" [labelMode]="labelFloating"
           class="container">

    <dxi-item dataField="Nome" editorType="dxTextBox">
      <dx-text-box [(value)]="user.nome" label="Nome" name="nome"
                   [labelMode]="labelFloating"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe seu nome"></dxi-validation-rule>
    </dxi-item>


    <dxi-item dataField="setorParticipante">
      <dx-select-box
        label="Defina seu Setor"
        [(value)]="user.setor"
        [dataSource]="setores"
        displayExpr="name"
        valueExpr="id"
        placeholder="Selecione um setor:">
      </dx-select-box>
      <dxi-validation-rule type="required" message="Informe o seu setor."></dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="LoginAcesso" editorType="dxTextBox">
      <dx-text-box [(value)]="user.user" label="Login"
                   [labelMode]="labelFloating"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe um login"></dxi-validation-rule>
    </dxi-item>


    <dxi-item dataField="Senha" editorType="dxTextBox">
      <dx-text-box [(value)]="user.password" [labelMode]="labelFloating" [mode]="'password'"
                   label="Senha"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe uma senha Valida!"></dxi-validation-rule>
    </dxi-item>

    <!--<dxi-item dataField="Confirme sua Senha" editorType="dxTextBox">
      <dx-text-box [(value)]="confirmarSenha" [labelMode]="labelFloating" label="Confirme sua senha"></dx-text-box>
      <dxi-validation-rule type="custom" message="Senhas estão divergentes" [validationCallback]="confirmPassword">
      </dxi-validation-rule>
    </dxi-item>-->

    <dxi-item>
      <div class='policy-info'>
        Ao criar uma conta, você concorda com os <a data-toggle="modal" href="#TermoServico" data-bs-toggle="modal"
                                                    data-bs-target="#TermoServico">Termos de serviço</a>.
      </div>
    </dxi-item>


    <dxi-item>
        <dx-button
          width="100%"
          type="default"
          text="Criar uma nova conta"
          (click)="cadastrarParticipante(user)">

        </dx-button>

    </dxi-item>

    <dxi-item>
      <div class="login-link">
        Ja possui uma conta ativa ?<br/> <a routerLink="/login-form">Entre aqui</a>
      </div>
    </dxi-item>
  </dx-form>
</form>


<!-- Modal -->
<div class="modal fade" id="TermoServico" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Termos de Serviço</h5>
      </div>
      <div class="modal-body">
        <div class="modal-dialog modal-dialog-scrollable">
        ]Integridade dos Dados:<br>

        Os usuários devem fornecer informações precisas e verdadeiras durante o cadastro.
        Não é permitido o uso de informações falsas ou de terceiros sem permissão.<br>
        Privacidade e Segurança:<br>

        Respeitar a privacidade dos usuários é fundamental. Todas as informações pessoais devem ser tratadas com confidencialidade.
        Utilizar medidas de segurança adequadas para proteger os dados contra acessos não autorizados.<br>
        Respeito às Normas Legais:<br>

        O sistema deve obedecer às leis e regulamentações aplicáveis relacionadas à proteção de dados e privacidade.<br>
        Uso Adequado do Sistema:
        <br>
        Os usuários devem utilizar o sistema apenas para os fins apropriados, evitando qualquer atividade ilegal ou prejudicial.<br>
        Responsabilidade Individual:<br>

        Cada usuário é responsável por suas ações dentro do sistema, incluindo o uso adequado das funcionalidades e a atualização de suas informações.<br>
        Transparência:<br>

        O sistema deve ser transparente quanto às políticas de uso, termos e condições. Informações importantes devem ser comunicadas de maneira clara.<br>
        Respeito Mútuo:<br>

        Os usuários devem tratar uns aos outros com respeito e cortesia, evitando linguagem ofensiva ou comportamento inadequado.<br>
        Colaboração Positiva:<br>

        Encorajar a colaboração entre usuários de forma construtiva e positiva, promovendo um ambiente amigável.<br>
        Atualização de Informações:<br>

        Os usuários devem manter suas informações de cadastro atualizadas, garantindo a precisão dos dados armazenados no sistema.<br>
        Feedback Construtivo:<br>

        Encorajar os usuários a fornecerem feedback construtivo sobre o sistema, para melhorias contínuas e otimização da experiência do usuário.<br>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
