<form class="create-account-form">

  <dx-form [formData]="formData" [labelMode]="labelFloating"
           class="container">

    <dxi-item dataField="Nome" editorType="dxTextBox">
      <dx-text-box [(value)]="user.nome" label="Nome" name="nome"
                   [labelMode]="labelFloating"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe seu nome"></dxi-validation-rule>
    </dxi-item>


    <dxi-item dataField="setorParticipante">
      <dx-select-box
        label="Defina seu Setor"
        [(value)]="user.setor"
        [dataSource]="setores"
        displayExpr="name"
        valueExpr="id"
        placeholder="Selecione um setor:">
      </dx-select-box>
      <dxi-validation-rule type="required" message="Informe o seu setor."></dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="LoginAcesso" editorType="dxTextBox">
      <dx-text-box [(value)]="user.user" label="Login"
                   [labelMode]="labelFloating"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe um login"></dxi-validation-rule>
    </dxi-item>


    <dxi-item dataField="Senha" editorType="dxTextBox">
      <dx-text-box [(value)]="user.password" [labelMode]="labelFloating" [mode]="'password'"
                   label="Senha"></dx-text-box>
      <dxi-validation-rule type="required" message="Informe uma senha Valida!"></dxi-validation-rule>
    </dxi-item>

    <!--<dxi-item dataField="Confirme sua Senha" editorType="dxTextBox">
      <dx-text-box [(value)]="confirmarSenha" [labelMode]="labelFloating" label="Confirme sua senha"></dx-text-box>
      <dxi-validation-rule type="custom" message="Senhas estão divergentes" [validationCallback]="confirmPassword">
      </dxi-validation-rule>
    </dxi-item>-->

    <dxi-item>
      <div class='policy-info'>
        Ao criar uma conta, você concorda com os <a data-toggle="modal" href="#TermoServico"
                                                    data-target="#TermoServico">Termos de serviço</a>.
      </div>
    </dxi-item>


    <dxi-item>
        <dx-button
          width="100%"
          type="default"
          text="Criar uma nova conta"
          (click)="cadastrarParticipante(user)">

        </dx-button>

    </dxi-item>

    <dxi-item>
      <div class="login-link">
        Ja possui uma conta ativa ?<br/> <a routerLink="/login-form">Entre aqui</a>
      </div>
    </dxi-item>
  </dx-form>
</form>


<!-- Modal -->
<div class="modal fade" id="TermoServico" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Termos de Serviço</h5>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
