<form class="create-account-form" xmlns="http://www.w3.org/1999/html">

  <dx-form [formData]="formData" [labelMode]="labelFloating"
           class="container">

    <dxi-item dataField="nome">
      <dx-text-box [(value)]="user.nome" label="Nome"></dx-text-box>
      <dxi-validation-rule type="required" message="o campo não pode ficar em branco"></dxi-validation-rule>
      <dxi-validation-rule type="required" message="Informe seu nome"></dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="setor">
      <dx-select-box
        label="Defina seu Setor"
        [(value)]="user.setor"
        [dataSource]="setores"
        displayExpr="name"
        valueExpr="id"
        placeholder="Selecione um setor:">
      </dx-select-box>
      <dxi-validation-rule type="text" message="o campo não pode ficar em branco"></dxi-validation-rule>
      <dxi-validation-rule type="required" message="Informe o seu setor."></dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="user" editorType="dxTextBox">
      <dx-text-box [(value)]="user.user" label="Login" name="login"></dx-text-box>
      <dxi-validation-rule type="text" message="o campo não pode ficar em branco"></dxi-validation-rule>
      <dxi-validation-rule type="required" message="Informe um login"></dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="password" editorType="dxTextBox">
      <dx-text-box [(value)]="user.password" name="senha" [mode]="'password'"
                   label="Senha"></dx-text-box>
      <dxi-validation-rule type="text" message="o campo não pode ficar em branco"></dxi-validation-rule>
      <dxi-validation-rule type="required" message="Informe uma senha Valida!"></dxi-validation-rule>
    </dxi-item>

    <dxi-item>
      <div class='policy-info'>
        Ao criar uma conta, você concorda com os <a data-toggle="modal" href="#TermoServico" data-bs-toggle="modal"
                                                    data-bs-target="#TermoServico">Termos de uso</a> do sistema.
      </div>
    </dxi-item>

    <dxi-item>
      <dx-button
        width="100%"
        type="default"
        text="Criar uma nova conta"
        (click)="cadastrarParticipante(user)">
      </dx-button>
    </dxi-item>

    <dxi-item>
      <div class="login-link">
        Ja possui uma conta ativa ?<br/> <a routerLink="/login-form">Entre aqui</a>
      </div>
    </dxi-item>
  </dx-form>
</form>



<div class="modal fade" id="TermoServico" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase text-center">Termos de Uso</h5>
      </div>
      <div class="modal-body">
        <div>
          <p class="title pt-2">1. Integridade dos Dados:</p><br>

          <p class="body"> Os usuários devem fornecer informações precisas e verdadeiras durante o cadastro.
            Não é permitido o uso de informações falsas ou de terceiros sem permissão.</p>
          <br>
          <p class="title">2. Privacidade e Segurança:</p>
          <br>
          <p class="body text-justify"> Respeitar a privacidade dos usuários é fundamental. Todas as informações
            pessoais devem ser tratadas com
            confidencialidade. Utilizar medidas de segurança adequadas para proteger os dados contra acessos não
            autorizados.</p>
          <br>
          <p class="title">3. Respeito às Normas Legais:</p>
          <br>
          <p class="body"> Sistema deve obedecer às leis e regulamentações aplicáveis relacionadas à proteção de dados e
            privacidade.</p>
          <br>
          <p class="title">4. Uso Adequado do Sistema:</p>
          <br>
          <p class="body">Os usuários devem utilizar o sistema apenas para os fins apropriados, evitando qualquer
            atividade ilegal ou
            prejudicial.</p>
          <br>
          <p class="title">5. Responsabilidade Individual:</p>
          <br>
          <p class="body text-justify">Cada usuário é responsável por suas ações dentro do sistema, incluindo o uso
            adequado das funcionalidades e a
            atualização de suas informações.</p>
          <br>
          <p class="title">6. Transparência:</p>
          <br>
          <p class="body">O sistema deve ser transparente quanto às políticas de uso, termos e condições. Informações
            importantes devem
            ser comunicadas de maneira clara.</p>
          <br>
          <p class="title">7. Respeito Mútuo:</p>
          <br>
          <p class="body">Os usuários devem tratar uns aos outros com respeito e cortesia, evitando linguagem ofensiva
            ou comportamento
            inadequado.</p>
          <br>

        </div>
      </div>
      <div class="modal-footer">
        <dx-button class="fechar"
                   text="Fechar"
                   type="text"
                   [width]="200" data-bs-dismiss="modal">
        </dx-button>
      </div>
    </div>
  </div>
</div>
